Repository KodeKarmic/trade-mart: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-spotless-check, gradle-checkstyle

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.7.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=10240"]

  - repo: local
    hooks:
      - id: gradle-spotless-check
        name: Gradle Spotless Check
        entry: ./gradlew spotlessCheck
        language: system
        files: \.(java|gradle|md|gitignore)$
      - id: gradle-checkstyle
        name: Gradle Checkstyle Main
        entry: ./gradlew checkstyleMain
        language: system
        files: \.java$

Fixing scans
  .github/workflows/scan.yml
Due: none

Adding secrets variable
  .github/workflows/scan.yml
Due: none

Final fixes to failing test cases
  trade-store/src/test/java/com/trademart/tradestore/service/impl/TradeServiceImplTest.java
Due: gradle-spotless-check, gradle-checkstyle

spoless formatting
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeConcurrencyIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeMetricsIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/main/java/com/trademart/tradestore/model/TradeEntity.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepository.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepositoryCustom.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepositoryImpl.java
  trade-store/src/main/java/com/trademart/tradestore/repository/mongo/TradeHistoryRepository.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeService.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeVersionValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/SimpleTradeVersionValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/TradeServiceImpl.java
  trade-store/src/main/java/com/trademart/tradestore/streaming/TradeQueryController.java
  trade-store/src/test/java/com/trademart/tradestore/HealthControllerTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeIngestionControllerTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeMalformedTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeServiceImplTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeVersionValidatorTest.java
  trade-store/src/test/java/com/trademart/tradestore/integration/ExceptionIntegrationTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/TradeValidationPropertyTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/TradeValidationServiceTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/impl/TradeServiceImplTest.java
  trade-store/src/test/java/com/trademart/tradestore/worker/TradePersistenceIntegrationTest.java
Due: gradle-spotless-check, gradle-checkstyle

integration test fixes
  trade-expiry/src/main/java/com/trademart/tradeexpiry/service/TradeValidationService.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeConcurrencyIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeIngestionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeMetricsIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/testconfig/TestExpiryConfig.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeValidationService.java
Due: gradle-spotless-check, gradle-checkstyle

Fixing spotless complaints
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeConcurrencyIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeIngestionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeMetricsIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/testconfig/TestExpiryConfig.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeValidationService.java
Due: gradle-spotless-check, gradle-checkstyle

fixing coverage
  .github/workflows/coverage.yml
Due: none

fixing code coverage
  .github/workflows/coverage.yml
Due: none

Removing unused section
  .github/workflows/coverage.yml
Due: none

fixnig sonar secrets
  .github/workflows/coverage.yml
Due: none

adding permission to run gradlew
  .github/workflows/coverage.yml
Due: none

fixing sonar build
  build.gradle
Due: gradle-spotless-check

fixing sonar kube
  .github/workflows/coverage.yml
  build.gradle
Due: gradle-spotless-check

fixing ci with sonar
  .github/workflows/ci.yml
Due: none

Adding only build in CI action
  .github/workflows/ci.yml
Due: none

fixing permission issue
  .github/workflows/integration-tests.yml
Due: none

Modified the architecture diagram
  docs/architecture/system-architecture.svg
  docs/architecture/system-diagram-trade-mart.mmd
  docs/architecture/system-diagram-trade-mart.png
Due: none
