Repository KodeKarmic/trade-mart: changes, and which pre-commit hooks are due for each by the changed paths.
All: gradle-spotless-check, gradle-checkstyle

gradle-spotless-check:
  name: Gradle Spotless Check
  entry: ./gradlew spotlessCheck
  language: system

gradle-checkstyle:
  name: Gradle Checkstyle Main
  entry: ./gradlew checkstyleMain
  language: system

chore: make pre-commit Gradle hooks cross-platform (use gradlew)
  .pre-commit-config.yaml
Due: none

chore(checkstyle): align indentation with google-java-format; relax import ordering
  trade-store/config/checkstyle/extended-checks.xml
Due: none

chore(trade-store): fix Checkstyle indentation & formatting
  trade-store/src/main/java/com/trademart/tradestore/model/TradeEntity.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepositoryImpl.java
Due: gradle-spotless-check, gradle-checkstyle

US1: sequencing — add TradeSequencer, DB migrations, persist ingest_sequence on trades and history, update service, tests and integration test
  trade-store/.jqwik-database
  trade-store/build.gradle
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/main/java/com/trademart/tradestore/config/ClockConfig.java
  trade-store/src/main/java/com/trademart/tradestore/config/ExceptionConfig.java
  trade-store/src/main/java/com/trademart/tradestore/exception/TradeRejectedException.java
  trade-store/src/main/java/com/trademart/tradestore/exception/TradeValidationException.java
  trade-store/src/main/java/com/trademart/tradestore/model/TradeEntity.java
  trade-store/src/main/java/com/trademart/tradestore/mongo/TradeHistory.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepository.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepositoryCustom.java
  trade-store/src/main/java/com/trademart/tradestore/repository/TradeRepositoryImpl.java
  trade-store/src/main/java/com/trademart/tradestore/service/ClockService.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeExpiryService.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeSequencer.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeValidationService.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/TradeSequencerImpl.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/TradeServiceImpl.java
  trade-store/src/main/resources/db/migration/V2__create_trades_table.sql
  trade-store/src/main/resources/db/migration/V3__create_ingest_sequence.sql
  trade-store/src/main/resources/db/migration/V4__add_ingest_sequence_column.sql
  trade-store/src/test/java/com/trademart/tradestore/TradeIngestionControllerTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeSequencerTest.java
  trade-store/src/test/java/com/trademart/tradestore/TradeServiceImplTest.java
  trade-store/src/test/java/com/trademart/tradestore/config/ClockIntegrationTest.java
  trade-store/src/test/java/com/trademart/tradestore/config/ExceptionConfigTest.java
  trade-store/src/test/java/com/trademart/tradestore/integration/ExceptionIntegrationTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/ClockServiceTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/TradeExpiryServiceTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/TradeValidationPropertyTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/TradeValidationServiceTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/impl/TradeServiceImplTest.java
Due: gradle-spotless-check, gradle-checkstyle

US2: pluggable TradeVersionValidator + SimpleTradeVersionValidator; structured error responses (errorCode) + ExceptionConfig tests; timestamp truncated to millis; add integration test T015
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/main/java/com/trademart/tradestore/config/ExceptionConfig.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeVersionValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/SimpleTradeVersionValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/TradeServiceImpl.java
  trade-store/src/test/java/com/trademart/tradestore/TradeVersionValidatorTest.java
  trade-store/src/test/java/com/trademart/tradestore/config/ExceptionConfigTest.java
Due: gradle-spotless-check, gradle-checkstyle

US3: Align maturity validator with ClockService for deterministic tests; expose ClockService.getClock(); fix TradeServiceImpl default clock (systemDefaultZone)
  trade-store/src/main/java/com/trademart/tradestore/config/ExceptionConfig.java
  trade-store/src/main/java/com/trademart/tradestore/service/ClockService.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeMaturityValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/SimpleTradeMaturityValidator.java
  trade-store/src/main/java/com/trademart/tradestore/service/impl/TradeServiceImpl.java
  trade-store/src/test/java/com/trademart/tradestore/TradeMaturityValidatorTest.java
Due: gradle-spotless-check, gradle-checkstyle

IT: add integration test asserting maturity rejection returns structured error (MATURITY_PAST)
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeIngestionIT.java
Due: gradle-spotless-check, gradle-checkstyle

Make permissive JwtDecoder dev-only; use TestJwtDecoderConfig for integration tests; attach test bearer token in integration tests
  trade-store/build.gradle
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeConcurrencyIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeIngestionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/testconfig/TestJwtDecoderConfig.java
  trade-store/src/main/java/com/trademart/tradestore/config/SecurityConfig.java
Due: gradle-spotless-check, gradle-checkstyle

Docs: document dev-only permissive JwtDecoder and test JwtDecoder for integration tests
  trade-store/README.md
Due: gradle-spotless-check

Docs: add ClockService and JwtDecoder testing guidance to TESTING.md
  trade-store/TESTING.md
Due: gradle-spotless-check

Observability: add Micrometer Prometheus registry and instrument ingestion metrics
  trade-store/build.gradle
  trade-store/src/main/java/com/trademart/tradestore/streaming/TradeIngestionController.java
  trade-store/src/main/resources/application.yml
Due: gradle-spotless-check, gradle-checkstyle

Test: assert ingestion metrics are recorded (unit tests)
  trade-store/src/test/java/com/trademart/tradestore/TradeIngestionControllerTest.java
Due: gradle-spotless-check, gradle-checkstyle

test(integration): assert ingestSequence on TradeEntity matches TradeHistory in TradeSequencingIT
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeMetricsIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/testconfig/PrometheusActuatorBridge.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/testconfig/TestPrometheusRegistryConfig.java
  trade-store/src/main/java/com/trademart/tradestore/streaming/TradeIngestionController.java
  trade-store/src/main/resources/application.yml
Due: gradle-spotless-check, gradle-checkstyle

test(unit): add TestJwtDecoderConfig for unit tests
  trade-store/src/test/java/com/trademart/tradestore/testconfig/TestJwtDecoderConfig.java
Due: gradle-spotless-check, gradle-checkstyle

test(unit): register TestJwtDecoderConfig as @Configuration so unit tests pick up JwtDecoder
  trade-store/src/test/java/com/trademart/tradestore/testconfig/TestJwtDecoderConfig.java
Due: gradle-spotless-check, gradle-checkstyle

US3: add trade expiry scheduler + Prometheus metric + integration test; make scheduler test-friendly
  trade-store/build.gradle
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeConcurrencyIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeExpiryIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeIngestionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeSequencingIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIT.java
  trade-store/src/integrationTest/java/com/trademart/tradestore/TradeVersionIntegrationTest.java
  trade-store/src/integrationTest/resources/application.properties
  trade-store/src/main/java/com/trademart/tradestore/TradeStoreApplication.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeExpiryAutoScheduler.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeExpiryScheduler.java
  trade-store/src/main/java/com/trademart/tradestore/service/TradeExpiryService.java
  trade-store/src/test/java/com/trademart/tradestore/integration/ExceptionIntegrationTest.java
Due: gradle-spotless-check, gradle-checkstyle

T025: Performance — run JMH, record results and notes in README; mark task complete
  specs/002-trade-store-validation/README.md
  specs/002-trade-store-validation/tasks.md
Due: gradle-spotless-check

T028: Quickstart — add quickstart.md and validate :trade-store:test
  specs/002-trade-store-validation/quickstart.md
  specs/002-trade-store-validation/tasks.md
Due: gradle-spotless-check

Add docker-compose for local Postgres+Mongo and expand quickstart with end-to-end run steps
  specs/002-trade-store-validation/docker-compose.yml
  specs/002-trade-store-validation/quickstart.md
Due: gradle-spotless-check

T028: Validate end-to-end ingestion with docker-compose + bootRun + POST /trades (HTTP 201)
  specs/002-trade-store-validation/quickstart.md
  specs/002-trade-store-validation/tasks.md
  trade-sample.json
Due: gradle-spotless-check

T028: Validate end-to-end ingestion with docker-compose and bootRun - POST /trades returned HTTP 201
  response.txt
Due: none

T030: Add OWASP Dependency-Check vulnerability scanning with GitHub Actions workflow
  .github/workflows/security-scan.yml
  specs/002-trade-store-validation/README.md
  specs/002-trade-store-validation/tasks.md
  trade-store/build.gradle
  trade-store/config/dependency-check-suppressions.xml
Due: gradle-spotless-check

T032: Add malformed-data tests (TradeMalformedTest) — controller validation and parsing edge-cases; tests added and verified
  specs/002-trade-store-validation/tasks.md
  trade-store/src/test/java/com/trademart/tradestore/TradeMalformedTest.java
Due: gradle-spotless-check, gradle-checkstyle

data
  trade-store/bin/integrationTest/application.properties
  trade-store/bin/main/application.yml
  trade-store/bin/main/db/migration/V1__add_unique_index_tradeid.sql
  trade-store/bin/main/db/migration/V2__create_trades_table.sql
  trade-store/bin/main/db/migration/V3__create_ingest_sequence.sql
  trade-store/bin/main/db/migration/V4__add_ingest_sequence_column.sql
  trade-store/bin/test/application.properties
Due: none

Single squashed commit: describe changes
  docs/architecture/ADR.md
  docs/architecture/system diagram.pdf
  trade-repair/bin/main/application.yml
Due: gradle-spotless-check

Single squashed commit: describe changes
  run.ps1
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Adding gradle wrapper
  .gitignore
  gradlew
  gradlew.bat
Due: gradle-spotless-check

moved the gradle wrapper
  gradle/libs.versions.toml
  trade-store/gradle/wrapper/gradle-wrapper.properties
Due: none

Fixing permission issue
  .github/workflows/ci.yml
Due: none

Fixing CI build
  .github/workflows/ci.yml
Due: none

Adding gradle-wrapper.jar
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
Due: gradle-spotless-check

Fixing gradlew
  gradlew
Due: none

Fixing CI and scans
  .github/workflows/ci.yml
  .github/workflows/scan.yml
Due: none

Fixing formatting issues
  trade-store/README-autoscaling.md
  trade-store/src/main/java/com/trademart/tradestore/config/ClockConfig.java
  trade-store/src/main/java/com/trademart/tradestore/config/ExceptionConfig.java
  trade-store/src/main/java/com/trademart/tradestore/metrics/TradeProcessingMetrics.java
  trade-store/src/main/java/com/trademart/tradestore/streaming/KafkaTradeConsumer.java
  trade-store/src/main/java/com/trademart/tradestore/streaming/TradeProcessingState.java
  trade-store/src/main/java/com/trademart/tradestore/streaming/TradeQueryController.java
  trade-store/src/main/java/com/trademart/tradestore/worker/BatchWorkerApplication.java
  trade-store/src/test/java/com/trademart/tradestore/TradeServiceImplTest.java
  trade-store/src/test/java/com/trademart/tradestore/service/impl/TradeServiceImplTest.java
  trade-store/src/test/java/com/trademart/tradestore/worker/TradePersistenceIntegrationTest.java
  trade-store/src/test/java/com/trademart/tradestore/worker/TradeWorkerIntegrationTest.java
Due: gradle-spotless-check, gradle-checkstyle

Fixing boot jars
  trade-clock/build.gradle
  trade-clock/src/main/java/com/trademart/tradestore/clock/TradeClockApplication.java
  trade-store/build.gradle
Due: gradle-spotless-check, gradle-checkstyle

Fixing repo scan issue
  .github/workflows/scan.yml
Due: none

Path conditions:
  gradle-spotless-check: any of: \.(java|gradle|md|gitignore)$
  gradle-checkstyle: any of: \.java$
